{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LEARNTODAY</title>
        <link rel="stylesheet" href="{% static 'vanilla.css' %}" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/LOGO.png' %}" alt="Learn Today" class="logo-image">
                </a>
            </div>
             <div class="search">
                <form action="#">
                    <input class="search-input" type="text">
                    <a href="{% url 'ask' %}" class="search-button">Learn</a>
                </form>
            </div>
            <div class="profile">
                {% if user.is_authenticated %}
                    <div class="profile-image">
                        <img src="{% static 'img/profile.png' %}" alt="profile" class="avatar">
                    </div>
                    <div class="profile-settings">
                        <div class="account-name">
                            <a href="{% url 'profile' %}">{{ user.username }}</a>
                        </div>
                        <div class="account-actions">
                            <a href="{% url 'profile_settings' %}">Settings</a>
                            <a href="./logout.html">Log out</a>
                        </div>
                    </div>
                {% else %}
                    <a href="#">Login</a>
                {% endif %}
            </div>
        </header>
        <main class="container">
            {% block headline %}{% endblock %}

            <div class="content">
                <div class="cards">
                    {% block content %}{% endblock %}
                </div>
                <aside class="sidebar">
                    <section class="popular-tags">
                        <h2>Tags of the week</h2>
                        <div class="tags">
                            {% for tag in popular_tags %}
                                <a href="{% url 'tag_questions' tag.name %}">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </section>
                    <section class="top-mentors">
                        <h2>Top mentors</h2>
                        <ul class="top-mentors-list">
                            {% for mentor in top_mentors %}
                                <li><a href="{% url 'profile' mentor.username %}">{{ mentor.username }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                </aside>
            </div>
        </main>
    </body>
</html>