{% load static %}

<article class="card">
    <div class="user-post">
        <img src="./image.jpg" alt="image" class="card-image">
        <input type="number" class="card-likes" value="10">
    </div>

    <div class="post-content">
        <div class="post-content-preview">
            <h3 class="card-title"><a href="#">{{question.title}}</a></h3>
            <div class="card-text">{{question.text}}</div>
        </div>
        <div class="post-content-bottom">
            <a href="./answers.html" >Answer(23)</a>
            <div class="tags">
                <a href="tag.html">Link</a>
                <a href="tag.html">Link</a>
                <a href="tag.html">Link</a>
            </div>
        </div>
    </div>
</article>