{% extends 'layouts/base.html' %}
{% load static %}

{% block title_bar %}
<div class="title-bar">
    <h1>New questions</h1>
    <a href="{% url 'index' %}">Hot questions</a>
</div>
{% endblock %}
{% block content %}
            <div class="cards">
                {% for question in questions %}

                    {% include 'question.html' %}

                {% endfor %}


                <div class="pagination">
                    <button>1</button>
                    <button>2</button>
                    <button>...</button>
                    <button>100</button>

                </div>
            </div>
{% endblock %}