{% extends 'layouts/base.html' %}

{% block headline %}
    <div class="title-bar">
        <h1>Questions Tagged with "{{ tag.name }}"</h1>
        <a href="{% url 'index' %}">Back to Hot Questions</a>
    </div>
{% endblock %}

{% block content %}
    <div class="questions-list">
        {% for question in questions %}
            {% include 'layouts/question_card.html' %}
        {% empty %}
            <p>No questions with this tag.</p>
        {% endfor %}
    </div>

    {% include 'layouts/pagination.html' %}
{% endblock %}